<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<form action="__APP__/Home/User/register/" method="POST">
		<table align="center">
		<tr><td><label>账号</label><input type="text" name="account"/></td></tr>
		<tr><td><label>密码</label><input type="password" name="password"/></td></tr>
		<tr><td><label>确认密码</label><input type="password" name="repassword"/></td></tr>
		<tr><td><input type="submit" value="注册" /></td></tr>
		</table>
	</form>
</body>
</html>