<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>重设密码</title>

<!-- 该页面需要用JS来检测输入值 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
$("")
</script>
</head>

<body>
	<form action="__APP__/index.php/Home/User/resetPassword" method="post">
		<table align="center">
			<tr>
				<td><label>新密码</label></td>
				<input type="hidden" id="account" name="account" value={$account} />
				<td><input type="password" id="password" name="password"/></td>
			</tr>
			<tr>
				<td><label>确认密码</label></td>
				<td><input type="password" id="repassword" name="repassword"/></td>
			</tr>
			<tr>
				<td><input type="submit" onclick= value="提交"></td>
				<td><input type="reset" value="重置"></td>
			</tr>
		</table>
	</form>
</body>
</html>